
#reportForm {
    margin-top: 100px;
    padding: 40px;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    background-color: #000048; 
    max-width: 150vh; 
    margin: auto;
    margin-top: 90px;

  }
#reportText {
    text-align: center;
    font-size: 29px;
    font-weight: bold;
    margin-top: px; /* Adjust as needed */
    font-family: 'Titillium Web', sans-serif;
    color: white
  }
  .form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #formContainer {
    padding: 20px; 
    border-radius: 8px; 
    
  }



  
  
