
#reportForm {
    margin-top: 100px;
    padding: 40px;
    font-family: 'Titillium Web', sans-serif;
    color: white


    

  }
#reportText {
    text-align: center;
    font-size: 29px;
    font-weight: bold;
    margin-top: px; /* Adjust as needed */
    font-family: 'Titillium Web', sans-serif;
    color: white
  }
  .form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #formContainer {
    background-color: #000048; /* Dark Navy Blue */
    padding: 20px; /* Add padding for spacing */
    border-radius: 8px; /* Optional: Add border radius for rounded corners */
    max-height: 177vh; /* Set a maximum height in terms of viewport height */
    max-width: 120vh; /* Set a maximum width */
    margin: auto; 
  
  }



  
  
