{% extends 'base.html' %}
{% load static %}

{#---------------------------------------------CSS---------------------------------------------#}

{% block css %}
<link rel="stylesheet" href="{% static 'css/base.css'%}">
{% endblock%}

{#---------------------------------------------Body---------------------------------------------#}

{%block content%}

<div class="background-container" style="background-image: url('{% static "img/logo.jpeg" %}')"></div>


   
    <div class="grey-container"></div>
    <br/><br/><br/><br/><br/>

    <div class="container">
      <div class="heading-box"> 
          <h2>How It Works</h2>
      </div>


      <div class="container d-flex justify-content-center mt-5">
        <div class="card-container d-flex">

        
          <div class="card bg" >
            <div class="card-body" >
              <h2 class="card-title"> Sign In</h2>
              <hr>
              <p class="card-text">Effortlessly secure access with our login feature. 
                Simply input your credentials and gain instant, protected account entry. 
                Experience hassle-free authentication management for seamless use.</p>
              <p class="card-text"></p>
            </div>
          </div>

          <div class="card bg" >
            <div class="card-body">
              <h2 class="card-title">List It</h2>
              <hr>
              <p class="card-text">Lost something valuable? Report it. Found something special? 
                Report it too. Our system simplifies reporting lost and found items, 
                ensuring a swift and efficient process</p>
            </div>
          </div>

          <div class="card bg">
            <div class="card-body" >
              <h2 class="card-title" >Find it</h2>
              <hr>
              <p class="card-text">Experience the power of machine learning in action. Utilizing advanced algorithms, 
                swiftly pinpoint lost items by description. 
                Unlock the potential of technology in simplifying lost item retrieval.</p>
            </div>
          </div>

          <div class="card bg">
            <div class="card-body" >
              <h2 class="card-title" >Feedback</h2>
              <hr>
              <p class="card-text">Your feedback fuels our continuous improvement. 
                Share your thoughts and suggestions, helping us enhance your experience.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
   
{%endblock%}