{% extends 'base.html' %}
{% load static %}

{#---------------------------------------------------CSS--------------------------------------------------------#}

{% block css%}
<link rel="stylesheet" href="{% static 'css/report.css'%}">

{% endblock%} 

{#---------------------------------------------------Body-------------------------------------------------------#}
{% block content %}
<div class="form-row">
    <form method='POST' id= "reportForm">
      {%csrf_token%}

    <div id="reportText" class="text-center">REPORT FOUND ITEM</div>

      <label for="itemname">Item Name</label>
      <input type="text" class="form-control" placeholder="Enter name" id="name" name="name"/><br/><br/>
      
      <label for="brand">Brand</label> 
      <input type="text" class="form-control" placeholder="Enter brand" id="brand" name="brand" />
      
      <br/><br/>

      <label for="category">Category</label>
      <select class="form-control" id="category" name="category">
          <option value="none">....</option>
          <option value="phone">Phone</option>
          <option value="umbrella">Umbrella</option>
          <option value="charger">Charger</option>
          <option value="clothingitem">Clothing Item</option>
          <option value="laptop">Laptop</option>
          <option value="miscellaneous">Miscellaneous</option>
      </select>

      <br/><br/>

      <label for="foundlocation">Found Location</label>
      <input type="text" class="form-control" id="lostlocation", name="foundlocation" placeholder="Found Location"><br/><br/>


      <label for="founddate">Found Date</label>
      <input type="date" class="form-control" id="founddate", name="founddate"><br/><br/>

      <label for="description">Description</label>
      <textarea class="form-control" id="description" , name="description", rows="4"></textarea>

<br/>
      <button type="submit" class="btn btn-primary mx-auto my-auto d-block">Submit </button>



    </div>
{% endblock %}
 