{% extends 'base.html' %}
{% load static %}

{#---------------------------------------------------CSS--------------------------------------------------------#}

{% block css%}
<link rel="stylesheet" href="{% static 'css/report.css'%}">
{% endblock%} 

{#---------------------------------------------------Body-------------------------------------------------------#}

{%block content%}
<div id="formContainer">
  <form id="reportForm" >
  {% comment %} s {% endcomment %}
    <div id="reportText" class="text-center">REPORT ITEM</div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="itemname">Item Name</label>
            <input type="text" class="form-control" id="itemname" placeholder="Enter Item Name">
        </div>
        <br/>
        <div class="form-group col-md-6">
            <label for="brand">Brand</label>
            <input type="text" class="form-control" id="brand" placeholder="Brand Name">
        </div>
    </div>
  <br/>
  <div class="form-row">
      <div class="form-group col-md-6">
          <label for="category">Category</label>
          <select class="form-control" id="category" name="category">
              <option value="clothingitem">....</option>
              <option value="phone">Phone</option>
              <option value="umbrella">Umbrella</option>
              <option value="charger">Charger</option>
              <option value="clothingitem">Clothing Item</option>
              <option value="miscellaneous">Miscellaneous</option>

          </select>
      </div>
  </div>
  <br/>
  <div class="form-row">
        <div class="form-group col-md-6">
            <label for="lostlocation">Lost Location</label>
            <input type="text" class="form-control" id="lostlocation" placeholder="Lost Location">
        </div>
        <br/>
        <div class="form-group col-md-6">
          <label for="foundlocation">Found Location</label>
          <input type="text" class="form-control" id="lostlocation" placeholder="Found Location">
      </div>
      <br/>
        <div class="form-group col-md-6">
          <label for="lostdate">Lost Date</label>
          <input type="date" class="form-control" id="lostdate">
      </div>
      <br/>
        <div class="form-group col-md-6">
          <label for="founddate">Found Date</label>
          <input type="date" class="form-control" id="founddate">
      </div>
      <br/>
      
      <div class="form-group col-md-6">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="4"></textarea>
    </div>
    <br/>
  
  <br/>
  <button type="submit" class="btn btn-primary mx-auto my-auto d-block">Submit </button>
  </form>
</div>

{% endblock %}


  