{% extends 'base.html' %}
{% load static %}

{#---------------------------------------------------CSS--------------------------------------------------------#}

{% block css %}
<link rel="stylesheet" href="{% static 'css/viewitems.css' %}">
<style>
    {% comment %} .container {
        
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Adjust as needed */
    }
  .decorated-table {
      margin-top: 20px;
      
      border-collapse: collapse;
      width: auto;
      padding: 15px;
   }
  
  .decorated-table th, .decorated-table td {
      border: 1px solid #ddd;
      padding: 30px;
      padding-right: 58px;
      padding-left: 58px;
      text-align: left;


  }
  
  .decorated-table th {
      background-color: #2b1b71;
      color: white;
  }
  
  .decorated-table th:first-child, .decorated-table td:first-child {
      padding-left: 20px;
  } {% endcomment %}

  <style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }

    .decorated-table {
        margin-top: 20px;
        border-collapse: collapse;
        width: auto;
        padding: 15px;
    }

    .decorated-table th, .decorated-table td {
        border: 1px solid #ddd;
        padding: 20px;
        padding-right: 8px;
        padding-left: 2px; 
        text-align: left;
        
    }

    .decorated-table th {
        background-color: #2b1b71;
        color: white;
        padding: 20px; /* Adjust padding as needed */
    }

    .decorated-table th:first-child,
    .decorated-table td:first-child {
        padding-left: 20px;
    }
</style>
  
  
</style>
{% endblock %} 

{#---------------------------------------------------Body-------------------------------------------------------#} 

{% block content%}
<div class="container">
    {% comment %} <div class="row justify-content-center mt-1"> {% endcomment %}
        {% comment %} <div class="col-md-8"> {% endcomment %}
            <table class="decorated-table">
                <thead>
                    <tr>
                        <th>s.no</th>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Category</th>
                        <th>Lost Location</th>
                        <th>Found Location</th>
                        <th>Description</th>
                        <th>Lost Date</th>
                        <th>Found Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in all %}
                        <tr>
                            <td>{{ forloop.counter }}</td> 
                            <td>{{ item.name }}</td>
                            <td>{{ item.brand }}</td>
                            <td>{{ item.category }}</td>
                            <td>{{ item.lostlocation }}</td>
                            <td>{{ item.foundlocation }}</td>
                            <td>{{ item.description }}</td>
                            <td>{{ item.lostdate }}</td>
                            <td>{{ item.founddate }}</td>
                            <td>{{ item.status }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
